body {
  margin:0px;
  background-image:url('../../images/home/bg.png');
  background-position:left top;
  background-repeat:repeat-y;
  background-attachment:scroll;
  background-size:auto;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:140px;
  width:640px;
  height:270px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:270px;
}
#u1 {
  position:absolute;
  left:2px;
  top:127px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:33px;
  top:172px;
  width:177px;
  height:177px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:177px;
}
#u3 {
  position:absolute;
  left:2px;
  top:80px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:70px;
  width:640px;
  height:83px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:83px;
}
#u5 {
  position:absolute;
  left:2px;
  top:34px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:425px;
  width:640px;
  height:270px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:270px;
}
#u7 {
  position:absolute;
  left:2px;
  top:127px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:33px;
  top:447px;
  width:177px;
  height:177px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:177px;
}
#u9 {
  position:absolute;
  left:2px;
  top:80px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:710px;
  width:640px;
  height:270px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:270px;
}
#u11 {
  position:absolute;
  left:2px;
  top:127px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:33px;
  top:732px;
  width:177px;
  height:177px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:177px;
}
#u13 {
  position:absolute;
  left:2px;
  top:80px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:995px;
  width:640px;
  height:270px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:270px;
}
#u15 {
  position:absolute;
  left:2px;
  top:127px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:33px;
  top:1017px;
  width:177px;
  height:177px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:177px;
}
#u17 {
  position:absolute;
  left:2px;
  top:80px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:1280px;
  width:640px;
  height:270px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:270px;
}
#u19 {
  position:absolute;
  left:2px;
  top:127px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:33px;
  top:1302px;
  width:177px;
  height:177px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:177px;
}
#u21 {
  position:absolute;
  left:2px;
  top:80px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:41px;
  top:178px;
  width:160px;
  height:160px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u23 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:1572px;
  width:640px;
  height:60px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:60px;
}
#u25 {
  position:absolute;
  left:2px;
  top:22px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:33px;
  top:1600px;
  width:577px;
  height:25px;
  font-size:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:25px;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:573px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:220px;
  top:178px;
  width:150px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:220px;
  top:230px;
  width:353px;
  height:93px;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:93px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:220px;
  top:453px;
  width:310px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:32px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:220px;
  top:505px;
  width:353px;
  height:93px;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:93px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:41px;
  top:453px;
  width:160px;
  height:160px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u37 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:41px;
  top:739px;
  width:160px;
  height:160px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u39 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:220px;
  top:739px;
  width:150px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:220px;
  top:790px;
  width:353px;
  height:75px;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:75px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:42px;
  top:1023px;
  width:160px;
  height:160px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u45 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:220px;
  top:1023px;
  width:192px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:32px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:220px;
  top:1074px;
  width:353px;
  height:75px;
  font-size:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:75px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:41px;
  top:1309px;
  width:160px;
  height:160px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u51 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:220px;
  top:1309px;
  width:280px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:32px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:220px;
  top:1365px;
  width:353px;
  height:75px;
  font-size:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:75px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  word-wrap:break-word;
}
#u56 {
  position:fixed;
  left:10px;
  top:5px;
}
#u56_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u56_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:60px;
  opacity:0.75;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:60px;
}
#u58 {
  position:absolute;
  left:2px;
  top:22px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:20px;
  top:19px;
  width:580px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:22px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:260px;
  top:14px;
  width:170px;
  height:33px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:33px;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:170px;
  top:10px;
  width:40px;
  height:40px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u64 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:33px;
  top:369px;
  width:580px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:22px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:273px;
  top:363px;
  width:170px;
  height:33px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:33px;
}
#u68 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:183px;
  top:359px;
  width:40px;
  height:40px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u70 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:30px;
  top:650px;
  width:580px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:22px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:270px;
  top:644px;
  width:170px;
  height:33px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:33px;
}
#u74 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:180px;
  top:640px;
  width:40px;
  height:40px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u76 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:33px;
  top:940px;
  width:580px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:22px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:273px;
  top:934px;
  width:170px;
  height:33px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:33px;
}
#u80 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:183px;
  top:930px;
  width:40px;
  height:40px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u82 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:33px;
  top:1220px;
  width:580px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:22px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:273px;
  top:1214px;
  width:170px;
  height:33px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:33px;
}
#u86 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:183px;
  top:1210px;
  width:40px;
  height:40px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u88 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:33px;
  top:1510px;
  width:580px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:22px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:273px;
  top:1504px;
  width:170px;
  height:33px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:33px;
}
#u92 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:183px;
  top:1500px;
  width:40px;
  height:40px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u94 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
